    <% @listing.image.each do |p| %>
    <%= image_tag p unless @listing.image.blank? %>
    <% end %>

    <p>Owner: <%= @listing.name %></p>
    <p>Premise type: <%= @listing.property_type %></p>
    <P>Number of bed available: <%= @listing.bed_number %></p>

    <h3>Address:</h3>

    <p>State: <%= @listing.state %></p>
    <p>City: <%= @listing.city %></p>
    <p>Country: <%= @listing.country %></p>
    <p>Zip Code: <%= @listing.zipcode %></p>
    <p>Street: <%= @listing.address %></p>

    <h3>Price</h3>

    <p><%= @listing.price %></p>

    <%= link_to 'My Listing', my_listing_path %>

    <%= link_to 'All Listing', listings_path %>

    <%= link_to 'Create new listing', new_listing_path %>

